/**
  |============================
  | Root & other
  |============================
*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {

  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --footer-font: "Roboto", sans-serif;

  /* BG colors */
  --main-bg-color: #ffffff;
  --second-bg-color: #f4f4fd;
  --footer-bg-color: #2E2F42;
  --ourteam-bg-color: #f4f4fd;
  --modal-bg-color:#FCFCFC;

  /* Text colors */
  --main-text-color: #434455;
  --main-btn-color: #ffffff;
  --main-title-color: #2e2f42;
  --mobile-second-title-color:#4d5ae5;
  --pf-frame-color: #f4f4fd;
  --modal-form-text:#8E8F99;
 
  /* Border color */
  --border-color:#E7E9FC;

  /* logo colors */
  --first-logo-color: #4d5ae5;
  --second-logo-color: #2e2f42;
  --third-logo-color: #f4f4fd;

  /* Button colors */
  --first-btnlink-color: #4d5ae5;
  --second-btnlink-color:#404BBF;

  /* Social team*/
  --first-social-color:#4d5ae5;
  --second-social-color:#404BBF;

  /* Icons customers*/
  --customer-icon:#8E8F99;

  /* Icons footer */
  --third-social-color:#31D0AA;

/* Animation */
  scroll-behavior: smooth;
  --timing-fun-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-fun-duration: 250ms;

/* Others */
  --indent: 24px;
  --items: 1;
  --hero-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7));
}



/**
  |============================
  | Animation
  |============================
*/
@keyframes shake {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  
  10%, 30% {
    transform: rotate(-10deg);
  }
  
  20%, 40% {
    transform: rotate(10deg);
  } 
}



/**
  |============================
  | Body
  |============================
*/
.body {
  font-size: 16px;
  font-family: var(--primary-font);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}


h1,h2,h3,h4,h5,h6 {
  color: var(--main-title-color);
}


.container {
  /* Mobile style & >*/
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  /* outline: 2.1px solid red; */
  /* outline-offset: 0; */
}
/* Tablet style & >*/
  @media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    }
  }
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}


.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  text-transform: capitalize;

  margin-bottom: 72px;
}


.section {
/* Mobile style & >*/
  padding-top: 96px;
  padding-bottom: 96px;
}
/* Tablet style & >*/
  @media only screen and (min-width: 768px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
    }
  }
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}





/**
  |============================
  | Card set
  |============================
*/

.card-set{
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}


.card-set-items{
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}



/* Reset start */

h1,h2,h3,h4,h5,h6,p,ul,ol {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--second-btnlink-color);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
/* Reset end */
  /**
    |====================================================================================
    |
  */

/**
  |============================
  | Logo section
  |============================
*/

.logo {
/* Mobile style & >*/
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;

  /* Web */
  color: var(--first-logo-color);
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}
/* Tablet style & >*/
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
/* Studio */
.logo-second-color {
  color: var(--second-logo-color);
}
.logo-third-color {
  color: var(--third-logo-color);
}



  
/**
  |============================
  | Navigation section
  |============================
*/

.header {
  color: var(--main-title-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header-container {
/* Mobile style & >*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}


.head-navigation {
/* Mobile style & >*/
  display: flex;
  align-items: center;
  margin: 24px 0 22px 0;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .head-navigation  {
  margin: 0;
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .head-navigation  {
  margin: 0;
  }
}


.navigation-list {
/* Mobile style & >*/
  display: none;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .navigation-list {
    margin-left: 0;
    margin-right: 0;
  }
}


.header-nav-link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);

  padding: 24px 0;
  display: block;
  position: relative;

  transition: color var(--timing-fun-duration) var(--timing-fun-animation);
}


.header-nav-link.actual-link{
color: var(--second-btnlink-color);
}


.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--second-btnlink-color);
}


.header-nav-link::after{
content:'';

width: 100%;
height: 4px;
border-radius: 2px;
display: block;
position: absolute;
left: 0;
bottom: -1px;
transition: background-color var(--timing-fun-duration) var(--timing-fun-animation);
}


.header-nav-link.actual-link::after{
background-color: var(--second-btnlink-color);
}




/**
  |============================
  | Header Mobile menu
  |============================
*/

.menu-mobile-hamburger{
/* Mobile style & >*/
  display: block;
  border: none;

  width: 32px;
  height: 22px;

  cursor: pointer;
  background-color: rgba(0, 0, 0,0);
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .menu-mobile-hamburger {
    display: none;
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158) {
  .menu-mobile-hamburger {
    display: none;
  }
}


.menu-icon-hamburger{
  margin: 0;
  stroke: var(--main-title-color);
}




/**
  |============================
  | Mobile menu
  |============================
*/

  .menu-toggle {
  /* Mobile style & >*/
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    cursor: pointer;
    border-radius: 50%;
  }
/* Tablet style & >*/
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
/* Desktop style & >*/
  @media (min-width: 1158px) {
    .menu-toggle {
      display: none;
    }
  }


  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }


  .mobile-menu-close{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--border-color);
  }
  

  .mobile-menu-close:hover,
  .mobile-menu-close:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  

  .menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: var(--main-bg-color);
    z-index: 1000;
  
    padding: 80px 35px 40px 40px;
    transform: translateX(100%);
    transition: transform var(--timing-fun-duration) var(--timing-fun-animation);
  }
  

  .menu-container.is-open {
    transform: translateX(0);
  }
  

  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin: 0;
    padding: 0;
    margin-bottom: auto;
    list-style: none;
  }
  

  .mobile-menu-link {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
   
    transition: color var(--timing-fun-duration) var(--timing-fun-animation);
    }
  

  .mobile-social-item {
    width: 40px;
    height: 40px;
    }


  .mobile-menu-link.actual-link {
  color: var(--second-btnlink-color);
  }


  /* Social */
  .mobile-social-list {
  display: flex;
  align-items: baseline;
  gap:56px;
  }


  .mobile-menu-contact {
    margin-bottom: 48PX;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }


  .mobile-menu-phone {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;

    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--mobile-second-title-color);
  }


  .mobile-menu-mail {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    
    color: var(--main-text-color);
  }
  

  .mobile-social-list{
    display: flex;
    justify-content: left;
    align-items: center;
  }
 @media only screen and (max-width: 428px) {
    .mobile-social-list {
     gap: 24px;
   }
 }





/**
  |============================
  | Contacts section 
  |============================
*/
.contact {
/* Mobile style & >*/
  display: none;
}

@media only screen and (min-width: 768px) {
/* Tablet style & >*/
  .contact {
    display: block;
    font-style: inherit;
  }
}
@media only screen and (min-width: 1158px) {
/* Desktop style & >*/
  .contact {
  }
}


.contact-list {
  display: none;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* padding: 16px 0px; */
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .contact-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}


/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .contact-list-item {
    font-family: var(--primary-font);
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--main-text-color);
  
    transition: color var(--timing-fun-duration) var(--timing-fun-animation);
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .contact-list-item {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  
    transition: color var(--timing-fun-duration) var(--timing-fun-animation);
  }
}


.contact-list-item:hover,
.contact-list-item:focus {
  color: var(--second-btnlink-color);
}





/**
  |============================
  | Index - Section №1 - Description
  |============================
*/

.main-pic-description {
  text-align: center;
  background-color: var(--main-title-color);
  padding: 112px 0;
  text-align: center;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 427px) {
  .main-pic-description {
    background-image: var(--hero-gradient), url(../images/hero/Dark-bg_mob-428@1x.jpg);
  }
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-pic-description {
    background-image: var(--hero-gradient), url(../images/hero/Dark-bg_mob-856@2x.jpg);
    }
  }
}
@media only screen and (min-width: 428px) and (max-width: 767px) {
  .main-pic-description {
    background-image: var(--hero-gradient), url(../images/hero/Dark-bg_tab-768@1x.jpg);
  }
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-pic-description {
    background-image: var(--hero-gradient), url(../images/hero/Dark-bg_tab-1536@2x.jpg);
    }
  }
}
@media only screen and (min-width: 768px) {
  .main-pic-description {
    background-image: var(--hero-gradient), url(../images/hero/people-office\ 1_dectop-1440@1x.jpg);
  }
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-pic-description {
    background-image: var(--hero-gradient), url(../images/hero/people-office\ 1_dectop-2880@2x.jpg);
    }
}
}
@media only screen and (min-width: 1158px) {
  .main-pic-description {
    padding: 188px 0;
  }
}


.main-header {
/* Mobile style & >*/
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-btn-color);

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .main-header {
  font-size: 56px;
  line-height: 60px;
  max-width: 496px;
  margin-bottom: 36px;
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .main-header {
    margin-bottom: 48px;
  }
}


.main-button {
  margin: 0 auto;
  display: block;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  cursor: pointer;

  font-family: var(--primary-font);
  background-color: var(--first-btnlink-color);
  color: var(--main-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--timing-fun-duration) var(--timing-fun-animation);
}


.main-button:hover, 
.main-button:focus {
  background-color: var(--second-btnlink-color);
}





/**
  |============================
  | Index - Section №2 - Skills
  |============================
*/

.skills{
  margin: 0 auto;
}


.skills-list {
/* Mobile style & >*/
  --items: 1;
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .skills-list {
  --items:2;
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .skills-list {
  --items:4;
  flex-wrap: nowrap;
  row-gap: 0;
  }
}


.skills-title {
/* Mobile style & >*/
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
  text-align: center;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .skills-title{
    text-align: left;
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .skills-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}


.skills-text {
/* Mobile & Tablet style & >*/
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  
  color: var(--main-text-color);
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .skills-text {
    font-weight: 400;
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.skill-ph {
/* Mobile style & >*/
  display: none;
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .skill-ph  {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 264px;
  height: 112px;

  background-color: var(--second-bg-color);
  border-radius: 4px;
  margin-bottom: 8px;
  }
}





/**
  |============================
  | Index - Section №3 - What are we doing
  |============================
*/

.what-our-team-doing {
  /* Mobile style & >*/
  display: none;  
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .what-our-team-doing {
    display: block;
    padding-top: 0px;
  }
}


.wotd-list {
  display: flex;
  margin: auto 0;
  gap: 24px;
}


.wotd-list-item {
  width: calc((100% - 48px)/ 3);
}





/**
  |============================
  | Index - Section №4 - Our team
  |============================
*/

.team {
  background-color: var(--ourteam-bg-color);
}
/* Mobile style & >*/
@media only screen and (max-width: 767px) {
  .team-container {
    max-width: 296px;
  }
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .team-container {
    max-width: 584px;
  }
}
/* Mobile & Tablet & Destop style - перебиваем формулу с CardSet */
@media only screen and (max-width: 1167px) {
  .team .card-set-items {
    width: 264px;
  }
}



.team-list {
/* Mobile style & >*/
  --items:1;
  align-content: center;
  justify-content: center;
  row-gap: 72px;

}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .team-list {
    --items:2;
    row-gap: 64px;
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .team-list {
    --items:4;
    flex-wrap: nowrap;
  }
}


.team-item {
  width: 100%;
  background-color: var(--main-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.team-descr{
  padding: 32px 0px;
}


.team-title {
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-title-color);
}


.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 8px;
  color: var(--main-title-color);
}


.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 8px;
}


/* Team - Social media  */
.team-socials-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:24px;
}


.team-socials-item {
height: 40px;
width: 40px;
}


.team-socials-link {
display: flex;
align-items: center;
justify-content: center ;

height: 100%;
width: 100%;

background-color: var(--second-social-color);
background:var(--first-social-color);
border-radius: 50%;

transition: background-color var(--timing-fun-duration) var(--timing-fun-animation);
}


.team-socials-link:hover,
.team-socials-link:focus {
  background-color:var(--second-btnlink-color);
}


.team-social-icon{
fill: var(--second-bg-color);
}





/**
  |============================
  | Index - Section №5 - Customers
  |============================
*/

/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .customers .container {
    max-width: 584px;
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .customers .container {
    max-width: 1158px;
  }
}


.customers-list {
/* Mobile style & >*/
  --items:2;
  --indent:16px;
  align-content: center;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .customers-list {
    --items:3;
    --indent:24px;
    column-gap: 24px;
  }
}
/* Desktop style & >*/
@media only screen and (min-width: 1158px) {
  .customers-list {
    --items:6;  
    flex-wrap: nowrap;
    row-gap: 0;
  }
}


.customers-item {
  height: 88px;
}


.customers-link {
display: flex;
align-items: center;
justify-content: center ;

width: 100%;
height: 100%;

border: 1px solid #8E8F99;
border-radius: 4px;
padding: 16px 32px;
color: var(--customer-icon);

transition: color var(--timing-fun-duration) var(--timing-fun-animation), 
border-color var(--timing-fun-duration) var(--timing-fun-animation);
}


.customers-link:hover,
.customers-link:focus {
color: var(--second-btnlink-color);
border-color:var(--second-btnlink-color);
}


.customers-icon{
  fill:currentColor;
  transition: fill var(--timing-fun-duration) var(--timing-fun-animation);
}


.customers-icon:hover,
.customers-icon:focus { 
fill:currentColor;
}






/**
  |============================
  | PF - Section №1 - ALL
  |============================
*/

.portfolio{
/* Mobile style & >*/
  padding-top: 48px;
  padding-bottom: 48px;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}
/* Destop style & >*/
@media only screen and (min-width: 1158px) {
  .portfolio {
  padding-top: 100px;
  padding-bottom: 120px;
  }
}


.pf-filters{
/* Mobile style & >*/
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 auto;
  margin-bottom: 48px;
  gap: 24px;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .pf-filters {
  justify-content: center;
  margin-bottom: 64px;
  }
}
/* Destop style & >*/
@media only screen and (min-width: 1158px) {
  .pf-filters {
  margin-bottom: 84px;
  }
}


.pf-list-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
@media only screen and (min-width: 768px) {
  .pf-list-img {
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .pf-list-img {
    row-gap: 48px;
  }
}



.pf-butt-filter {
/* Mobile style & >*/
  font-family: inherit;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;

  background-color: var(--second-bg-color);
  color: var(--first-btnlink-color);

  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--border-color);

  transition: color var(--timing-fun-duration) var(--timing-fun-animation), 
  border var(--timing-fun-duration) var(--timing-fun-animation),
  box-shadow var(--timing-fun-duration) var(--timing-fun-animation),
  background-color var(--timing-fun-duration) var(--timing-fun-animation);
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .pf-butt-filter  {
    padding: 12px 24px;
  }
}


.pf-butt-filter:hover,
.pf-butt-filter:focus {
  color: var(--main-btn-color);
  background-color: var(--second-btnlink-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}



.pf-item-card {
/* Mobile style & >*/
    --items:1;
    align-content: center;
    justify-content: center;
    row-gap: 48px;
  }
/* Tablet style & >*/
  @media only screen and (min-width: 768px) {
    .pf-item-card {
      --items:2;
      row-gap: 72px;
    }
  }
/* Desktop style & >*/
  @media only screen and (min-width: 1158px) {
    .pf-item-card {
      --items:3;
      row-gap: 48px;
      flex-wrap: nowrap;
    }
  }


.pf-for-imgtext{
padding: 32px 16px;
border: 1px solid var(--border-color);
border-top: none;
}


.pf-text-title {
  color: var(--main-title-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  
  margin-bottom: 8px;
}


.pf-text-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--main-text-color);
}


.pf-item-link-hofo{
  display: block;
  transition: box-shadow var(--timing-fun-duration) var(--timing-fun-animation);
}


.pf-item-link-hofo:hover,
.pf-item-link-hofo:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.pf-img-frame-box{
  position: relative;
  overflow: hidden ;
}


.pf-overlay{
  position: absolute;

  width: 100%;
  height: 100%;
  
  top: 0;
  left:0;
  padding: 40px 32px 0px 32px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: var( --first-logo-color);
  color:var(--pf-frame-color);

  transform: translateY(100%);
  transition: transform var(--timing-fun-duration) var(--timing-fun-animation);
}


.pf-item-card:hover .pf-overlay{
  transform: translateY(0);
}





/**
  |============================
  | Footer - Section
  |============================
*/

.footer {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 96px 0;
  background-color: var(--footer-bg-color);
  color: var(--third-logo-color);
}
/* Destop style & >*/
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}


.footer-container{
/* Mobile style & >*/
display: flex;
flex-wrap: wrap;
flex-direction: column;
row-gap: 72px;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
    max-width: 582px;
  }
}
/* Destop style & >*/
@media only screen and (min-width: 1158px) {
  .footer-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0;
    align-items: baseline;
  }
}


.container-footer-logo{
/* Mobile style & >*/
min-width: 264px;
margin-right: auto;
margin-left: auto;
text-align: center;
}
/* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .container-footer-logo {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
}
/* Destop style & >*/
@media only screen and (min-width: 1158px) {
  .container-footer-logo {
    margin-right: 120px;
  }
}


/* Tablet and Destop style & >*/
@media only screen and (max-width: 767px) {
  .footer-logo {
    display: block;
    margin-bottom: 16px;
    text-align: center;
   
  }
}
.footer-logo{
  display: block;
  margin-bottom: 16px;
  margin-right: 0;
}


.footer-text{
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}



@media only screen and (min-width: 1158px) {
  .container-footer-social {
    margin-right: 80px;
  }
}


.footer-social-title {
/* Mobile style & >*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 16px;
  
  text-align: center;
  color: var( --main-bg-color);
}
/* Tablet & Desktop style & >*/
@media only screen and (min-width: 768px) {
  .footer-social-title{
    text-align: left;
  }    
}


.footer-social-list {
display: flex;
justify-content: center;
gap:16px;
}


.footer-social-item {
width: 40px;
height: 40px;
}


.footer-social-link {
display: flex;
align-items: center;
justify-content: center ;

height: 100%;
width: 100%;

background:var(--first-social-color);
border-radius: 50%;

transition: background-color var(--timing-fun-duration) var(--timing-fun-animation);
}


.footer-social-icon {
fill: var(--second-bg-color);
}


.footer-social-link:hover,
.footer-social-link:focus {
background-color:var(--third-social-color);
animation: shake 5s;
}


.container-footer-subscribe{
/* Mobile style & >*/
  height: 80px;
  text-align: center;
}
 /* Tablet style & >*/
  @media only screen and (min-width: 768px) {
    .container-footer-subscribe {
    max-width: 768px;
    justify-items: flex-start;
    }
  }
/* Destop style & >*/
@media only screen and (min-width: 1158px) {
  .container-footer-subscribe {
  text-align: left;
  }
}


.footer-subscribe {
/* Mobile style & >*/
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: left;
  max-width: 398px;
}
  /* Tablet style & >*/
@media only screen and (min-width: 768px) {
  .footer-subscribe {
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
  }
}


.footer-subscribe-email {
  display: block;
  padding: 8px 16px 8px 16px;
  height: 40px;
  width: 264;
    
  border: 1px solid var(--main-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--footer-bg-color);
  color: var(--main-btn-color);
}
/* Tablet style & >*/
@media only screen and (max-width: 768px) {
  .footer-subscribe-email {
    width: 398px;
  }
}
@media only screen and (max-width: 398px) {
  .footer-subscribe-email {
    width: 100%;
  }
}

.footer-subscribe-email::placeholder{
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 400;

  color: var(--main-btn-color);
}


.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 165px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;

  padding: 8px 24px 8px 24px;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;

  border: none;
  color: var(--main-btn-color);

  border-radius: 4px;
  cursor: pointer;

  font-family: var(--primary-font);
  background-color: var(--first-btnlink-color);
  color: var(--main-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--timing-fun-duration) var(--timing-fun-animation);
}


.footer-subscribe-btn-icon {
  fill: var(--main-btn-color);
}


.footer-subscribe-btn:hover, 
.footer-subscribe-btn:focus {
  background-color: var(--second-btnlink-color);
}




/**
  |============================
  | Modal window
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(0.5px);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--timing-fun-duration) var(--timing-fun-animation) 250ms,
  visibility var(--timing-fun-duration) var(--timing-fun-animation) 250ms,
  backdrop-filter var(--timing-fun-duration) var(--timing-fun-animation) 250ms;
}


.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  backdrop-filter: blur(0);
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(0deg);

  width: 392px;
  min-height: 584px;

  background-color: var(--modal-bg-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;

  opacity: 1;
  transition: transform var(--timing-fun-duration) var(--timing-fun-animation) 250ms,
  opacity var(--timing-fun-duration) var(--timing-fun-animation) 250ms;
}
@media only screen and (max-width: 428px) {
  .modal {
  /* width: calc(100% - 36px); */
  width: 90%;
  }
}
/* Tablet and Destop style & >*/
@media only screen and (min-width: 768px) {
  .modal {
 padding: 72px 24px 24px 24px;
 min-width: 408px;
  }
}


.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotateX(90deg);
  opacity: 0;
}


.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--border-color);

  transition: background-color var(--timing-fun-duration) var(--timing-fun-animation),
  fill var(--timing-fun-duration) var(--timing-fun-animation);
}


.modal-btn:hover,
.modal-btn:focus {
background-color:var(--second-btnlink-color);
fill: var(--second-bg-color);
}



/* Form */
.modal-form-title {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
  margin-bottom: 16px;
  color: var(--main-title-color);
}


.modal-form-label {
  display: block;
  font-size: 12px;

  color: var(--modal-form-text);
  margin-bottom: 4px;
}


.modal-form-box {
  position: relative;
  margin-bottom: 8px;
}


.modal-form-inbox {
  width: 99%;
  height: 40px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: 1px solid transparent;
  outline-offset: -1px;
  padding: 0 38px;

  transition: outline var(--timing-fun-duration) var(--timing-fun-animation);
}


.modal-form-inbox:focus {
  outline: 1px solid var(--first-btnlink-color);
}


.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 17px;

  pointer-events: none;
  transform: translateY(-50%);
  transition: fill var(--timing-fun-duration) var(--timing-fun-animation);
  fill: var(--main-title-color);
}

.modal-form-inbox:focus + .modal-form-icon{
  fill: var(--first-btnlink-color);
}


.modal-form-massage-inbox {
  display: block;
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: 8px 0 0 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: outline var(--timing-fun-duration) var(--timing-fun-animation);
  margin-bottom: 16px;
}


.modal-form-massage-inbox:focus {
  outline: 1px solid var(--first-btnlink-color);
}


.modal-form-massage-inbox:focus::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  
  color: rgba(46, 47, 66, 0.4) ;
}


.modal-form-label-agreem {
  display: flex;
  align-items: center;

  gap: 0px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--modal-form-text);

  margin-bottom: 24px;
}


.modal-form-agreem-box{
  appearance: none;
  cursor: pointer;
  transition: var(--timing-fun-duration) var(--timing-fun-animation);
}


.modal-form-agreem-box-icon-unchecked{
  opacity: 1;
  transition: var(--timing-fun-duration) var(--timing-fun-animation);
}


.modal-form-agreem-box:checked + .modal-form-agreem-box-icon > 
.modal-form-agreem-box-icon-unchecked {
  opacity: 0;
}


.modal-form-agreem-box-icon-checked {
  opacity: 0;
  transition: var(--timing-fun-duration) var(--timing-fun-animation);
}


.modal-form-agreem-box:checked + .modal-form-agreem-box-icon > 
.modal-form-agreem-box-icon-checked {
  opacity: 1;  
}


.modal-form-agreem-text{
  margin-left: 8px;
}


.modal-form-agreem-link {
  color: var(--first-btnlink-color)
}